main {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5vh 25vh;
    padding: 5vh 25vh;

}

.slider {
    margin: 0 auto;
    width: 800px;
    height: 600px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 600px;
    display: flex;
}

.slides input{
    display: none;
    overflow: hidden;
}

.slide {
    width: 25%;
    position: relative;
}

.slide img {
    width: 600px;
    height: 400px;
}

.manualNavigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manualBtn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manualBtn:not(:last-child){
    margin-right: 40px;
}

.manualBtn:hover{
    background-color: white;
}

#radio1:checked~ .first{
    margin-left: 0;
}

#radio2:checked~ .first{
    margin-left: -25%;
}

#radio3:checked~ .first{
    margin-left: -50%;
}

#radio4:checked~ .first{
    margin-left: -75%;
}

#radio5:checked~ .first{
    margin-left: -100%;
}

.navigationAuto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigationAuto {
    position: absolute;
    width: 800px;
    margin-top: 560px;
    display: flex;
    justify-content: center;
}

.navigationAuto div:not(:last-child){
    margin-right: 40px;
}

