.imgfrida{
  width: 320px;
  height: 380px;
  border-radius: 50%;
  border: 10px double  black;
}

p{
  font-size: 15px;
  padding-bottom: 0em;
  text-indent: 3ch;
  color: #3a3a3a;
  text-align: justify;
}

.faleConosco{
  margin-top: 50px;
} 

a{
  text-decoration: underline;
  color: #3a3a3a;
}
