/*------------------------------   Tags   ------------------------------*/
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 2px dashed black;
}



/*------------------------------   Classes   ------------------------------*/

.noticiaExterna {
    display: flex;
    flex-direction: row;
    padding: 20px 10px;
    text-align: justify;
}

.noticiaExterna img{
    border: none;
    border-radius: 5px;
    padding-right: 20px;
}

.saibaMais{
    color: black;
}
