/*------------------------------   Tags   ------------------------------*/

p{
    font-size: 15px;
    padding-bottom: 0em;
    text-indent: 4ch;
    color: #3a3a3a;
    text-align: justify;
}

/*------------------------------   Classes   ------------------------------*/

.noticiaExterna img{
    border: none;
    border-radius: 5px;
}

.saibaMais{
    color: #3a3a3a;
    text-align: justify;
    font-weight: 800;
}
