/*------------------------------   Tags   ------------------------------*/

p{
    font-size: 15px;
    padding-bottom: 0em;
    text-indent: 3ch;
    color: #3a3a3a;
    text-align: justify;
}

/*------------------------------   Classes   ------------------------------*/
.nomeDoQuadro{
    margin-bottom: 25px;
    color: #3a3a3a;
    font-weight: 800;
    text-align: justify;
}
