/*------------------------------   Tags   ------------------------------*/
main{
    background-color: #212529;
    color: #3a3a3a;
}

footer{
    border-top: 2px solid blueviolet;
}

h1{
    color: #3a3a3a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 2px dashed black;
    padding-top: 15px;
}

h4{
    color:white;
}

/*------------------------------   Classes   ------------------------------*/
.logo {
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.menu {
    font-size: 18px;
    letter-spacing: 2px;
    height: 90px;
    border-bottom: 2px solid blueviolet;
}

.backgroundPage {
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
}

.aGithub{
    color: white;
    text-decoration: none;
}

.aGithub:hover{
    opacity: 0.8;
}

  .footerCopyright {
    color: white;
    font-size: 0.9rem;
    padding: 5px;
    font-weight: 100;
 }